@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    height: 70px;
    width: 100%;
    overflow: hidden; /* Contener floats */
}

.izquierda {
    float: left;
}

.izquierda img {
    height: 50px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

.nombre-empresa {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 10px;
    font-size: 30px;
    color: #000;
}

.derecha {
    float: right;
    line-height: 70px;
    margin-right: 20px;
}

.derecha a {
    float: left;
    text-decoration: none;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(173, 173, 173);
    font-size: 20px;
    margin-top: 0;
}

.derecha a:hover{
    color: black;
}

#boton-navegacion {
    background-color: rgb(0, 153, 255);
    display: block;
    color: white;
    border-radius: 20px;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif;
}

#boton-navegacion:hover{
    color: black;
}

/* CONTENIDO PAGINA */
section {
    clear: both;
    overflow: hidden;
    margin-top: 100px;
}

.Contenido {
    float: left;
    width: 45%;
    margin-left: 20px;
}

.Contenido h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.texto-inferior {
    margin-top: -20px;
}

.Contenido p {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(173, 173, 173);
    margin-top: 10px;
}

.parrafo-inferior {
    margin-bottom: 60px;
}

.boton-start {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    background-color: rgb(46, 168, 250);
    padding: 15px 30px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
}

.boton-start:hover{
    color: black;
}

.imagen {
    float: right;
    width: 45%;
    height: auto;
    margin-right: 20px;
}

/* Media Queries para Responsividad */

/* Pantallas medianas y menores */
@media screen and (max-width: 1024px) {
    .Contenido, .imagen {
        width: 90%;
        float: none;
        margin: 0 auto 20px auto;
        display: block;
        text-align: center;
    }

    .Contenido h1 {
        font-size: 35px;
    }

    .Contenido p {
        font-size: 16px;
    }

    #boton-navegacion {
        padding: 8px 16px;
    }
}

/* Pantallas pequeñas */
@media screen and (max-width: 480px) {
    .nombre-empresa {
        font-size: 24px;
        display: block;
        line-height: normal;
        margin-left: 20px;
        margin-top: 10px;
    }

    .izquierda img {
        display: block;
        margin: 10px auto 0 auto;
    }

    .izquierda {
        float: none;
        text-align: center;
        width: 100%;
    }

    .derecha {
        float: none;
        text-align: center;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .derecha a {
        float: none;
        display: inline-block;
        margin: 0 10px 10px 10px;
        font-size: 16px;
    }

    .Contenido {
        margin-left: 0;
        width: 100%;
    }

    .boton-start {
        padding: 10px 20px;
    }
}