@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    height: 70px;
    width: 100%;
    overflow: hidden;
}

.header__left {
    float: left;
}

.header__logo {
    height: 50px;
    margin: 10px 0 0 20px;
    vertical-align: middle;
}

.header__title {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 10px;
    font-size: 30px;
    color: #000;
}

.header__right {
    float: right;
    line-height: 70px;
    margin-right: 20px;
}

.nav__link {
    float: left;
    text-decoration: none;
    padding-right: 20px;
    color: rgb(173, 173, 173);
    font-size: 20px;
}

.nav__link:hover {
    color: black;
}

.nav__link--cta {
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: 20px;
    padding: 0 8px;
    display: block;
}

.nav__link--cta:hover {
    color: black;
}

.hero {
    clear: both;
    overflow: hidden;
    margin-top: 100px;
}

.hero__content {
    float: left;
    width: 45%;
    margin-left: 20px;
}

.hero__title {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.hero__subtitle {
    margin-top: -20px;
}

.hero__text {
    font-size: 20px;
    color: rgb(173, 173, 173);
    margin-top: 10px;
}

.hero__text--secondary {
    margin-bottom: 60px;
}

.hero__button {
    text-decoration: none;
    color: white;
    background-color: rgb(46, 168, 250);
    padding: 15px 30px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
}

.hero__button:hover {
    color: black;
}

.hero__image-wrapper {
    float: right;
    width: 45%;
    margin-right: 20px;
}

.hero__image {
    width: 100%;
    height: auto;
}


@media (max-width: 480px) {
.header__title {
    font-size: 24px;
    display: block;
    line-height: normal;
    margin-left: 20px;
    margin-top: 10px;
}

.header__logo {
    display: block;
    margin: 10px auto 0 auto;
}

.header__left,
.header__right {
    float: none;
    text-align: center;
    width: 100%;
}

.nav__link {
    float: none;
    display: inline-block;
    margin: 0 10px 10px 10px;
    font-size: 16px;
}

.hero__content {
    margin-left: 0;
    width: 100%;
}

.hero__button {
    padding: 10px 20px;
}
}